SEO Keyword Orchestrator with Caching and Multi-Channel Distribution.json
{
  "name": "SEO Keyword Orchestrator with Caching and Multi-Channel Distribution",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "=<__PLACEHOLDER_VALUE__Campaign Start Google Sheet ID__>",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Campaign Start"
        },
        "event": "rowUpdate",
        "options": {
          "columnsToWatch": [
            "Action"
          ]
        }
      },
      "id": "4cec761b-bb95-461a-9d36-b6effbfb5dfb",
      "name": "Campaign Start Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -2624,
        1600
      ],
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "RLTWRwUpnF3zFVgY",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "=<__PLACEHOLDER_VALUE__Settings Google Sheet ID__>",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Settings"
        },
        "options": {}
      },
      "id": "3e4bf634-ba06-45f4-8749-af8fb6fd38ac",
      "name": "Fetch Global Settings",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2400,
        1600
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YpTnOTcX4gd9Mdkh",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generate unique session ID\nconst sessionId = `${Date.now()}-${Math.random().toString(36).substring(2, 15)}`;\n\n// Get the keyword from the first item\nconst keyword = $input.first().json.keyword || '';\n\n// Normalize keyword: lowercase and slugify\nconst normalizedKeyword = keyword\n  .toLowerCase()\n  .trim()\n  .replace(/[^a-z0-9\\s-]/g, '') // Remove special characters\n  .replace(/\\s+/g, '-') // Replace spaces with hyphens\n  .replace(/-+/g, '-'); // Replace multiple hyphens with single hyphen\n\n// Return all items with session ID and normalized keyword added\nreturn $input.all().map(item => ({\n  json: {\n    ...item.json,\n    sessionId: sessionId,\n    normalizedKeyword: normalizedKeyword\n  }\n}));"
      },
      "id": "ec6472b3-0797-4b41-9f08-232efe61db91",
      "name": "Generate Session ID & Normalize Keyword",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2176,
        1600
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "keyword",
              "value": "={{ $('Campaign Start Trigger').item.json.keyword }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "language",
              "value": "={{ $('Campaign Start Trigger').item.json.language }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "location",
              "value": "={{ $('Campaign Start Trigger').item.json.location }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "sessionId",
              "value": "={{ $('Generate Session ID & Normalize Keyword').item.json.sessionId }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "normalizedKeyword",
              "value": "={{ $('Generate Session ID & Normalize Keyword').item.json.normalizedKeyword }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "apiLimits",
              "value": "={{ $('Fetch Global Settings').item.json.apiLimits }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "folderId",
              "value": "={{ $('Fetch Global Settings').item.json.folderId }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "b3012748-e4f9-409c-b41b-f9e075ecb3c8",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1952,
        1600
      ]
    },
    {
      "parameters": {
        "operation": "rowExists",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "<__PLACEHOLDER_VALUE__Cache Table Name__>"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "keyword",
              "keyValue": "={{ $json.keyword }}"
            },
            {
              "keyName": "location",
              "keyValue": "={{ $json.location }}"
            },
            {
              "keyName": "language",
              "keyValue": "={{ $json.language }}"
            }
          ]
        }
      },
      "id": "05ec2e19-5d16-46b9-8739-77210976783a",
      "name": "Check Cache",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1728,
        1600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $('Check Cache').item.json }}",
              "operator": {
                "type": "object",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4e2777a8-2768-4f33-b4f8-11610fdbbf2f",
      "name": "Cache Hit or Miss?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1504,
        1600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/dataforseo_labs/google/search_intent/live",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"keyword\": \"{{ $('Workflow Configuration').item.json.keyword }}\",\n    \"location_code\": {{ $('Workflow Configuration').item.json.location_code }},\n    \"language_code\": \"{{ $('Workflow Configuration').item.json.language_code }}\"\n  }\n]",
        "options": {}
      },
      "id": "c9a1a98e-ca6f-468f-818d-1ecaef0ed3cc",
      "name": "API: Search Intent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1280,
        688
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/dataforseo_labs/google/keyword_overview/live",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"keyword\": \"{{ $('Workflow Configuration').item.json.keyword }}\",\n    \"location_code\": {{ $('Workflow Configuration').item.json.location_code }},\n    \"language_code\": \"{{ $('Workflow Configuration').item.json.language_code }}\"\n  }\n]",
        "options": {}
      },
      "id": "de9ec26c-9555-4df9-8326-d1f5a5d8c7e3",
      "name": "API: Keyword Overview",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1280,
        1072
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/dataforseo_labs/google/keyword_ideas/live",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"keyword\": \"{{ $('Workflow Configuration').item.json.keyword }}\",\n    \"location_code\": {{ $('Workflow Configuration').item.json.location_code }},\n    \"language_code\": \"{{ $('Workflow Configuration').item.json.language_code }}\"\n  }\n]",
        "options": {}
      },
      "id": "8fb891e8-9859-4d6f-bb31-622c6c4a66a0",
      "name": "API: Keyword Ideas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1280,
        1264
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/serp/google/organic/live/advanced",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"keyword\": \"{{ $('Workflow Configuration').item.json.keyword }}\",\n    \"location_code\": {{ $('Workflow Configuration').item.json.location_code }},\n    \"language_code\": \"{{ $('Workflow Configuration').item.json.language_code }}\"\n  }\n]",
        "options": {}
      },
      "id": "54458bf2-7256-4cb0-bcd7-ec2f734e5f52",
      "name": "API: SERP Organic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1280,
        1456
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/serp/google/ai_mode/live",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"keyword\": {{ $('Workflow Configuration').item.json.keyword }},\n    \"location_code\": {{ $('Workflow Configuration').item.json.location_code }},\n    \"language_code\": \"{{ $('Workflow Configuration').item.json.language_code }}\"\n  }\n]",
        "options": {}
      },
      "id": "a8be02b1-4fd1-4600-8ce6-b29fa8c285a1",
      "name": "API: AI Overviews",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1280,
        1648
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/dataforseo_labs/google/related_keywords/live",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"keyword\": \"{{ $('Workflow Configuration').item.json.keyword }}\",\n    \"location_code\": {{ $('Workflow Configuration').item.json.location_code }},\n    \"language_code\": \"{{ $('Workflow Configuration').item.json.language_code }}\"\n  }\n]",
        "options": {}
      },
      "id": "c3f04933-b65c-451a-800e-8b9a335836fa",
      "name": "API: Related Keywords",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1280,
        1840
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/content_analysis/ai_optimization/ai_keyword_data",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ [{\n  \"keyword\": $('Workflow Configuration').item.json.keyword,\n  \"location_code\": $('Workflow Configuration').item.json.location_code,\n  \"language_code\": $('Workflow Configuration').item.json.language_code\n}] }}",
        "options": {}
      },
      "id": "4814182c-6e7b-43d8-98be-aed61eb56b11",
      "name": "API: AI Keyword Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1280,
        2032
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/serp/youtube/organic/live",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"keyword\": \"{{ $('Workflow Configuration').item.json.keyword }}\",\n    \"location_code\": {{ $('Workflow Configuration').item.json.location_code }},\n    \"language_code\": \"{{ $('Workflow Configuration').item.json.language_code }}\"\n  }\n]",
        "options": {}
      },
      "id": "1dac7087-2fe6-4ad1-a35a-7f8b18ae1423",
      "name": "API: YouTube Organic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1280,
        2224
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/content_generation/generate_sub_topics",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ [{ \"keyword\": $('Workflow Configuration').item.json.keyword }] }}",
        "options": {}
      },
      "id": "4ee97f7f-c449-4155-a57d-7518dc5d459f",
      "name": "API: Generate Sub Topics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1280,
        2416
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $('API: Search Intent').item.json.status_code }}",
              "rightValue": "20000",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fea29b92-2647-4a9c-bf8c-d9dc0fe0f906",
      "name": "Check Search Intent Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1056,
        688
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $('API: Keyword Overview').item.json.status_code }}",
              "rightValue": "20000",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1d4c237f-c971-4f8c-bab0-c96df50a2ca5",
      "name": "Check Keyword Overview Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1056,
        1072
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $('API: Keyword Ideas').item.json.status_code }}",
              "rightValue": "20000",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "adfcc93b-f9a1-4f2d-a5e8-0d296ad7d38e",
      "name": "Check Keyword Ideas Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1056,
        1264
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $('API: SERP Organic').item.json.status_code }}",
              "rightValue": "20000",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "98214ad2-6a4e-4fff-9fe0-afd3d1bc0c21",
      "name": "Check SERP Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1056,
        1456
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.status_code }}",
              "rightValue": "20000",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "478c68d8-9a0d-4b45-b08b-0f202640af28",
      "name": "Check AI Overviews Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1056,
        1648
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $('API: Related Keywords').item.json.status_code }}",
              "rightValue": "20000",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d681d77a-e3ee-43f6-a0bb-207d1da21467",
      "name": "Check Related Keywords Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1056,
        1840
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $('API: AI Keyword Data').item.json.status_code }}",
              "rightValue": "20000",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "10ad5031-390c-4b32-85aa-32b9fb0d3ac3",
      "name": "Check AI Keyword Data Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1056,
        2032
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $('API: YouTube Organic').item.json.status_code }}",
              "rightValue": "20000",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4d1f2aa0-4553-4c1e-977d-daa13a27dbbe",
      "name": "Check YouTube Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1056,
        2224
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $('API: Generate Sub Topics').item.json.status_code }}",
              "rightValue": "20000",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "42aaceac-11c3-4e45-a062-ac106bf5c516",
      "name": "Check Sub Topics Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1056,
        2416
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 9,
        "options": {
          "includeUnpaired": false
        }
      },
      "id": "f770e6b9-7c02-4593-a37a-edaa11544716",
      "name": "Aggregate API Responses",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -832,
        320
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "=<__PLACEHOLDER_VALUE__Campaign Start Google Sheet ID__>",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Campaign Start"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Error"
          },
          "matchingColumns": [
            "Row ID"
          ],
          "schema": [
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "a7798f64-6be2-4d62-8d99-f55cbf190b82",
      "name": "Update Sheet to Error",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -832,
        736
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YpTnOTcX4gd9Mdkh",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "<__PLACEHOLDER_VALUE__Your Email Address__>",
        "subject": "SEO Keyword Research Error",
        "message": "=<h2>SEO Keyword Research Error</h2>\n\n<p><strong>Keyword:</strong> {{ $('Campaign Start Trigger').item.json.keyword }}</p>\n<p><strong>Session ID:</strong> {{ $('Generate Session ID & Normalize Keyword').item.json.sessionId }}</p>\n<p><strong>Error Time:</strong> {{ $now.format('yyyy-MM-dd HH:mm:ss') }}</p>\n\n<h3>Error Details:</h3>\n<p>{{ $('Update Sheet to Error').item.json.errorMessage || 'An error occurred during the keyword research process.' }}</p>\n\n<p>Please check the workflow execution logs for more details.</p>",
        "options": {}
      },
      "id": "f40d6a67-6545-4683-858b-743d07c325af",
      "name": "Send Error Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -608,
        736
      ],
      "webhookId": "8e4a91e4-4d1c-4c0f-a184-4439fe62b096"
    },
    {
      "parameters": {
        "jsCode": "// Normalize & Deduplicate Data\n// This code processes aggregated API responses from multiple SEO data sources\n// and creates a unified, deduplicated dataset\n\nconst items = $input.all();\n\n// Initialize output structure\nconst output = {\n  standardRecords: [],\n  serpCompact: {},\n  metadata: {\n    processedAt: new Date().toISOString(),\n    totalAPICalls: items.length,\n    keywordCount: 0\n  }\n};\n\n// Track unique keywords to prevent duplicates\nconst keywordMap = new Map();\n\n// Process each API response\nfor (const item of items) {\n  const json = item.json;\n  \n  // Determine API source type\n  const apiSource = json.apiSource || 'unknown';\n  \n  // Process based on API type\n  switch(apiSource) {\n    case 'searchIntent':\n      processSearchIntent(json);\n      break;\n    case 'keywordOverview':\n      processKeywordOverview(json);\n      break;\n    case 'keywordIdeas':\n      processKeywordIdeas(json);\n      break;\n    case 'serpOrganic':\n      processSerpOrganic(json);\n      break;\n    case 'aiOverviews':\n      processAIOverviews(json);\n      break;\n    case 'relatedKeywords':\n      processRelatedKeywords(json);\n      break;\n    case 'aiKeywordData':\n      processAIKeywordData(json);\n      break;\n    case 'youtubeOrganic':\n      processYouTubeOrganic(json);\n      break;\n    case 'subTopics':\n      processSubTopics(json);\n      break;\n  }\n}\n\n// Helper function to add or update keyword\nfunction addOrUpdateKeyword(keyword, data) {\n  const normalizedKeyword = keyword.toLowerCase().trim();\n  \n  if (keywordMap.has(normalizedKeyword)) {\n    // Merge data with existing keyword\n    const existing = keywordMap.get(normalizedKeyword);\n    Object.assign(existing, data);\n  } else {\n    // Add new keyword\n    keywordMap.set(normalizedKeyword, {\n      keyword: keyword,\n      volume: data.volume || 0,\n      cpc: data.cpc || 0,\n      difficulty: data.difficulty || 0,\n      ...data\n    });\n  }\n}\n\n// Process functions for each API type\nfunction processSearchIntent(data) {\n  if (data.intent) {\n    const keyword = data.keyword || '';\n    addOrUpdateKeyword(keyword, {\n      searchIntent: data.intent,\n      intentConfidence: data.confidence || 0\n    });\n  }\n}\n\nfunction processKeywordOverview(data) {\n  if (data.keyword) {\n    addOrUpdateKeyword(data.keyword, {\n      volume: data.searchVolume || data.volume || 0,\n      cpc: data.cpc || 0,\n      difficulty: data.difficulty || data.keywordDifficulty || 0,\n      competition: data.competition || 0\n    });\n  }\n}\n\nfunction processKeywordIdeas(data) {\n  if (data.keywords && Array.isArray(data.keywords)) {\n    for (const kw of data.keywords) {\n      addOrUpdateKeyword(kw.keyword || kw.phrase, {\n        volume: kw.volume || kw.searchVolume || 0,\n        cpc: kw.cpc || 0,\n        difficulty: kw.difficulty || 0,\n        source: 'keywordIdeas'\n      });\n    }\n  }\n}\n\nfunction processSerpOrganic(data) {\n  if (data.results && Array.isArray(data.results)) {\n    output.serpCompact = {\n      keyword: data.keyword || '',\n      results: data.results.slice(0, 10).map((result, index) => ({\n        position: index + 1,\n        url: result.url || '',\n        title: result.title || '',\n        description: result.description || '',\n        domain: result.domain || ''\n      }))\n    };\n  }\n}\n\nfunction processAIOverviews(data) {\n  if (data.aiOverview) {\n    const keyword = data.keyword || '';\n    addOrUpdateKeyword(keyword, {\n      hasAIOverview: true,\n      aiOverviewContent: data.aiOverview.content || '',\n      aiOverviewSources: data.aiOverview.sources || []\n    });\n  }\n}\n\nfunction processRelatedKeywords(data) {\n  if (data.relatedKeywords && Array.isArray(data.relatedKeywords)) {\n    for (const kw of data.relatedKeywords) {\n      addOrUpdateKeyword(kw.keyword || kw.phrase, {\n        volume: kw.volume || 0,\n        cpc: kw.cpc || 0,\n        difficulty: kw.difficulty || 0,\n        source: 'relatedKeywords',\n        relatedTo: data.keyword || ''\n      });\n    }\n  }\n}\n\nfunction processAIKeywordData(data) {\n  if (data.keyword) {\n    addOrUpdateKeyword(data.keyword, {\n      aiScore: data.aiScore || 0,\n      aiRelevance: data.aiRelevance || 0,\n      aiTrend: data.aiTrend || 'stable'\n    });\n  }\n}\n\nfunction processYouTubeOrganic(data) {\n  if (data.keyword) {\n    addOrUpdateKeyword(data.keyword, {\n      youtubeVolume: data.youtubeSearchVolume || 0,\n      youtubeResults: data.resultsCount || 0\n    });\n  }\n}\n\nfunction processSubTopics(data) {\n  if (data.subTopics && Array.isArray(data.subTopics)) {\n    const keyword = data.keyword || '';\n    addOrUpdateKeyword(keyword, {\n      subTopics: data.subTopics,\n      subTopicCount: data.subTopics.length\n    });\n  }\n}\n\n// Convert map to array and sort by volume\noutput.standardRecords = Array.from(keywordMap.values())\n  .sort((a, b) => (b.volume || 0) - (a.volume || 0));\n\noutput.metadata.keywordCount = output.standardRecords.length;\n\n// Return the normalized data\nreturn [{ json: output }];"
      },
      "id": "1d9789ee-367c-44f3-9825-a39d13024808",
      "name": "Normalize & Deduplicate Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        432
      ]
    },
    {
      "parameters": {
        "jsCode": "// Generate Standalone Interactive HTML Report with Chart.js\nconst items = $input.all();\n\n// Extract data from merged cache and live data\nconst keyword = items[0]?.json?.keyword || 'Unknown Keyword';\nconst sessionId = items[0]?.json?.sessionId || 'N/A';\nconst timestamp = new Date().toISOString();\n\n// Extract API response data\nconst searchIntent = items[0]?.json?.searchIntent || {};\nconst keywordOverview = items[0]?.json?.keywordOverview || {};\nconst keywordIdeas = items[0]?.json?.keywordIdeas || [];\nconst serpOrganic = items[0]?.json?.serpOrganic || [];\nconst aiOverviews = items[0]?.json?.aiOverviews || {};\nconst relatedKeywords = items[0]?.json?.relatedKeywords || [];\nconst aiKeywordData = items[0]?.json?.aiKeywordData || {};\nconst youtubeOrganic = items[0]?.json?.youtubeOrganic || [];\nconst subTopics = items[0]?.json?.subTopics || [];\n\n// Generate HTML Report\nconst htmlReport = `\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>SEO Keyword Report: ${keyword}</title>\n    <script src=\"https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js\"></script>\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            padding: 20px;\n            color: #333;\n        }\n        .container {\n            max-width: 1400px;\n            margin: 0 auto;\n            background: white;\n            border-radius: 12px;\n            box-shadow: 0 10px 40px rgba(0,0,0,0.2);\n            overflow: hidden;\n        }\n        .header {\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            color: white;\n            padding: 40px;\n            text-align: center;\n        }\n        .header h1 {\n            font-size: 2.5em;\n            margin-bottom: 10px;\n        }\n        .header .meta {\n            opacity: 0.9;\n            font-size: 0.95em;\n        }\n        .content {\n            padding: 40px;\n        }\n        .section {\n            margin-bottom: 40px;\n            padding: 30px;\n            background: #f8f9fa;\n            border-radius: 8px;\n            border-left: 4px solid #667eea;\n        }\n        .section h2 {\n            color: #667eea;\n            margin-bottom: 20px;\n            font-size: 1.8em;\n            display: flex;\n            align-items: center;\n        }\n        .section h2::before {\n            content: \"\";\n            display: inline-block;\n            width: 8px;\n            height: 8px;\n            background: #667eea;\n            border-radius: 50%;\n            margin-right: 12px;\n        }\n        .metrics-grid {\n            display: grid;\n            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));\n            gap: 20px;\n            margin-top: 20px;\n        }\n        .metric-card {\n            background: white;\n            padding: 20px;\n            border-radius: 8px;\n            box-shadow: 0 2px 8px rgba(0,0,0,0.1);\n            text-align: center;\n        }\n        .metric-card .label {\n            color: #666;\n            font-size: 0.9em;\n            margin-bottom: 8px;\n        }\n        .metric-card .value {\n            color: #667eea;\n            font-size: 2em;\n            font-weight: bold;\n        }\n        .chart-container {\n            position: relative;\n            height: 400px;\n            margin: 20px 0;\n            background: white;\n            padding: 20px;\n            border-radius: 8px;\n        }\n        table {\n            width: 100%;\n            border-collapse: collapse;\n            margin-top: 20px;\n            background: white;\n            border-radius: 8px;\n            overflow: hidden;\n        }\n        th, td {\n            padding: 12px;\n            text-align: left;\n            border-bottom: 1px solid #e0e0e0;\n        }\n        th {\n            background: #667eea;\n            color: white;\n            font-weight: 600;\n        }\n        tr:hover {\n            background: #f5f5f5;\n        }\n        .badge {\n            display: inline-block;\n            padding: 4px 12px;\n            border-radius: 12px;\n            font-size: 0.85em;\n            font-weight: 600;\n        }\n        .badge-primary {\n            background: #e3f2fd;\n            color: #1976d2;\n        }\n        .badge-success {\n            background: #e8f5e9;\n            color: #388e3c;\n        }\n        .badge-warning {\n            background: #fff3e0;\n            color: #f57c00;\n        }\n        .footer {\n            text-align: center;\n            padding: 20px;\n            color: #666;\n            font-size: 0.9em;\n            border-top: 1px solid #e0e0e0;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>🎯 SEO Keyword Analysis Report</h1>\n            <div class=\"meta\">\n                <strong>Keyword:</strong> ${keyword} | \n                <strong>Session ID:</strong> ${sessionId} | \n                <strong>Generated:</strong> ${new Date(timestamp).toLocaleString()}\n            </div>\n        </div>\n        \n        <div class=\"content\">\n            \n            <div class=\"section\">\n                <h2>📊 Keyword Overview</h2>\n                <div class=\"metrics-grid\">\n                    <div class=\"metric-card\">\n                        <div class=\"label\">Search Volume</div>\n                        <div class=\"value\">${keywordOverview.searchVolume || 'N/A'}</div>\n                    </div>\n                    <div class=\"metric-card\">\n                        <div class=\"label\">Keyword Difficulty</div>\n                        <div class=\"value\">${keywordOverview.difficulty || 'N/A'}</div>\n                    </div>\n                    <div class=\"metric-card\">\n                        <div class=\"label\">CPC</div>\n                        <div class=\"value\">$${keywordOverview.cpc || '0.00'}</div>\n                    </div>\n                    <div class=\"metric-card\">\n                        <div class=\"label\">Search Intent</div>\n                        <div class=\"value\" style=\"font-size: 1.2em;\">${searchIntent.intent || 'Unknown'}</div>\n                    </div>\n                </div>\n                <div class=\"chart-container\">\n                    <canvas id=\"volumeChart\"></canvas>\n                </div>\n            </div>\n\n            \n            <div class=\"section\">\n                <h2>🔍 SERP Analysis</h2>\n                <table>\n                    <thead>\n                        <tr>\n                            <th>Position</th>\n                            <th>URL</th>\n                            <th>Title</th>\n                            <th>Domain Authority</th>\n                        </tr>\n                    </thead>\n                    <tbody>\n                        ${serpOrganic.slice(0, 10).map((result, index) => `\n                            <tr>\n                                <td><span class=\"badge badge-primary\">#${index + 1}</span></td>\n                                <td><a href=\"${result.url || '#'}\" target=\"_blank\">${(result.url || '').substring(0, 50)}...</a></td>\n                                <td>${result.title || 'N/A'}</td>\n                                <td>${result.domainAuthority || 'N/A'}</td>\n                            </tr>\n                        `).join('')}\n                    </tbody>\n                </table>\n            </div>\n\n            \n            <div class=\"section\">\n                <h2>🔗 Related Keywords</h2>\n                <div class=\"chart-container\">\n                    <canvas id=\"relatedKeywordsChart\"></canvas>\n                </div>\n                <table>\n                    <thead>\n                        <tr>\n                            <th>Keyword</th>\n                            <th>Search Volume</th>\n                            <th>Difficulty</th>\n                            <th>Relevance</th>\n                        </tr>\n                    </thead>\n                    <tbody>\n                        ${relatedKeywords.slice(0, 15).map(kw => `\n                            <tr>\n                                <td>${kw.keyword || 'N/A'}</td>\n                                <td>${kw.searchVolume || 'N/A'}</td>\n                                <td><span class=\"badge ${kw.difficulty > 70 ? 'badge-warning' : 'badge-success'}\">${kw.difficulty || 'N/A'}</span></td>\n                                <td>${kw.relevance || 'N/A'}</td>\n                            </tr>\n                        `).join('')}\n                    </tbody>\n                </table>\n            </div>\n\n            \n            <div class=\"section\">\n                <h2>🤖 AI Insights</h2>\n                <div class=\"metrics-grid\">\n                    <div class=\"metric-card\">\n                        <div class=\"label\">AI Overview Present</div>\n                        <div class=\"value\" style=\"font-size: 1.5em;\">${aiOverviews.present ? '✅ Yes' : '❌ No'}</div>\n                    </div>\n                    <div class=\"metric-card\">\n                        <div class=\"label\">AI Visibility Score</div>\n                        <div class=\"value\">${aiKeywordData.visibilityScore || 'N/A'}</div>\n                    </div>\n                </div>\n                <h3 style=\"margin-top: 30px; color: #667eea;\">📝 Suggested Sub-Topics</h3>\n                <ul style=\"margin-top: 15px; line-height: 2;\">\n                    ${subTopics.slice(0, 10).map(topic => `<li>${topic.topic || topic}</li>`).join('')}\n                </ul>\n            </div>\n\n            \n            <div class=\"section\">\n                <h2>🎥 YouTube Organic Results</h2>\n                <table>\n                    <thead>\n                        <tr>\n                            <th>Position</th>\n                            <th>Video Title</th>\n                            <th>Channel</th>\n                            <th>Views</th>\n                        </tr>\n                    </thead>\n                    <tbody>\n                        ${youtubeOrganic.slice(0, 10).map((video, index) => `\n                            <tr>\n                                <td><span class=\"badge badge-primary\">#${index + 1}</span></td>\n                                <td>${video.title || 'N/A'}</td>\n                                <td>${video.channel || 'N/A'}</td>\n                                <td>${video.views || 'N/A'}</td>\n                            </tr>\n                        `).join('')}\n                    </tbody>\n                </table>\n            </div>\n        </div>\n\n        <div class=\"footer\">\n            Generated by SEO Keyword Orchestrator | Powered by n8n\n        </div>\n    </div>\n\n    <script>\n        // Volume Trend Chart\n        const volumeCtx = document.getElementById('volumeChart').getContext('2d');\n        new Chart(volumeCtx, {\n            type: 'line',\n            data: {\n                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],\n                datasets: [{\n                    label: 'Search Volume Trend',\n                    data: [${keywordOverview.volumeTrend || '0,0,0,0,0,0,0,0,0,0,0,0'}],\n                    borderColor: '#667eea',\n                    backgroundColor: 'rgba(102, 126, 234, 0.1)',\n                    tension: 0.4,\n                    fill: true\n                }]\n            },\n            options: {\n                responsive: true,\n                maintainAspectRatio: false,\n                plugins: {\n                    legend: {\n                        display: true,\n                        position: 'top'\n                    }\n                }\n            }\n        });\n\n        // Related Keywords Chart\n        const relatedCtx = document.getElementById('relatedKeywordsChart').getContext('2d');\n        new Chart(relatedCtx, {\n            type: 'bar',\n            data: {\n                labels: ${JSON.stringify(relatedKeywords.slice(0, 10).map(kw => kw.keyword || 'N/A'))},\n                datasets: [{\n                    label: 'Search Volume',\n                    data: ${JSON.stringify(relatedKeywords.slice(0, 10).map(kw => kw.searchVolume || 0))},\n                    backgroundColor: 'rgba(102, 126, 234, 0.7)',\n                    borderColor: '#667eea',\n                    borderWidth: 1\n                }]\n            },\n            options: {\n                responsive: true,\n                maintainAspectRatio: false,\n                plugins: {\n                    legend: {\n                        display: true,\n                        position: 'top'\n                    }\n                },\n                scales: {\n                    y: {\n                        beginAtZero: true\n                    }\n                }\n            }\n        });\n    </script>\n</body>\n</html>\n`;\n\n// Return the HTML report\nreturn [{\n  json: {\n    htmlReport: htmlReport,\n    keyword: keyword,\n    sessionId: sessionId,\n    timestamp: timestamp,\n    reportGenerated: true\n  }\n}];"
      },
      "id": "37a39144-b448-40ea-b728-4c019a3b5ba4",
      "name": "Generate HTML Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        480
      ]
    },
    {
      "parameters": {},
      "id": "0c449a96-ebc3-4958-8c3a-a1e36849c4fa",
      "name": "Merge Cache & Live Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -384,
        480
      ]
    },
    {
      "parameters": {
        "name": "={{ $('Workflow Configuration').item.json.keyword }}_{{ $('Workflow Configuration').item.json.sessionId }}.html",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Workflow Configuration').item.json.parentFolderId }}"
        },
        "options": {
          "simplifyOutput": true
        }
      },
      "id": "d06f5b30-4719-4344-912c-8fef4c4d0721",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        80,
        384
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "<__PLACEHOLDER_VALUE__Cloudflare R2 Bucket Name__>",
        "fileName": "={{ $('Generate Session ID & Normalize Keyword').item.json.normalized_keyword }}_{{ $('Generate Session ID & Normalize Keyword').item.json.session_id }}.html",
        "binaryData": false,
        "fileContent": "={{ $('Generate HTML Report').item.json.html_report }}",
        "additionalFields": {
          "acl": "publicRead"
        }
      },
      "id": "3fb5ab60-7526-4bbf-b6ac-db115a2dbaec",
      "name": "Upload to S3 (Cloudflare R2)",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        80,
        576
      ]
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "={{ $('Generate Session ID & Normalize Keyword').item.json.normalized_keyword }} - Raw Data",
        "sheetsUi": {
          "sheetValues": [
            {
              "title": "Keyword Data"
            }
          ]
        },
        "options": {}
      },
      "id": "0ec0cf9c-44cf-4b8d-b45e-7304cb0468fe",
      "name": "Create Raw Data Spreadsheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        80,
        768
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YpTnOTcX4gd9Mdkh",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "<__PLACEHOLDER_VALUE__Cache Table Name__>"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "keyword",
              "keyValue": "={{ $json.keyword }}"
            },
            {
              "keyName": "location",
              "keyValue": "={{ $json.location }}"
            },
            {
              "keyName": "language",
              "keyValue": "={{ $json.language }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "keyword": "={{ $json.keyword }}",
            "location": "={{ $json.location }}",
            "language": "={{ $json.language }}",
            "data": "={{ JSON.stringify($json) }}",
            "updated_at": "={{ $now.toISO() }}"
          }
        },
        "options": {}
      },
      "id": "0926e684-6da7-4c7b-8170-6b1e2e8aaec7",
      "name": "Update Cache",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -384,
        832
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "=<__PLACEHOLDER_VALUE__Campaign Start Google Sheet ID__>",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Campaign Start"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Row ID": "={{ $('Campaign Start Trigger').item.json['Row ID'] }}",
            "Status": "Completed",
            "Google Drive Link": "={{ $('Upload to Google Drive').item.json.webViewLink }}",
            "S3 Link": "={{ $('Upload to S3 (Cloudflare R2)').item.json.url }}"
          },
          "matchingColumns": [
            "Row ID"
          ],
          "schema": [
            {
              "id": "Row ID",
              "displayName": "Row ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "Google Drive Link",
              "displayName": "Google Drive Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            },
            {
              "id": "S3 Link",
              "displayName": "S3 Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "eca8986f-5cd3-49c4-a916-567f81352f58",
      "name": "Update Campaign Sheet to Completed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        304,
        384
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YpTnOTcX4gd9Mdkh",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "<__PLACEHOLDER_VALUE__Your Email Address__>",
        "subject": "={{ 'Keyword Research Ready: ' + $('Workflow Configuration').item.json.keyword }}",
        "message": "={{ 'Your keyword research report is ready!<br><br><strong>Keyword:</strong> ' + $('Workflow Configuration').item.json.keyword + '<br><br><strong>Google Drive Report:</strong> <a href=\"' + $('Upload to Google Drive').item.json.webViewLink + '\">View Report</a><br><br><strong>S3 Public URL:</strong> <a href=\"' + $('Upload to S3 (Cloudflare R2)').item.json.url + '\">Download Report</a><br><br><strong>Raw Data Spreadsheet:</strong> <a href=\"' + $('Create Raw Data Spreadsheet').item.json.spreadsheetUrl + '\">View Spreadsheet</a><br><br>Thank you!' }}",
        "options": {}
      },
      "id": "f0f9aaf1-4d70-45f8-ac77-76b71966b434",
      "name": "Send Success Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        528,
        384
      ],
      "webhookId": "37fedce4-181c-4f3d-bb47-c69386a7eab6"
    },
    {
      "parameters": {
        "content": "## 1. Initialization & Configuration\n\nThis section handles the workflow kickoff:\n\n* **Trigger:** Monitors a Google Sheet for new keyword requests.\n* **Settings:** Fetches global API limits and folder IDs.\n* **Normalization:** Generates a unique Session ID and sanitizes the keyword (slug format) for consistent processing.",
        "height": 260,
        "width": 350,
        "color": 2
      },
      "id": "724ae3b1-f9c0-4383-b677-fe449257c3d0",
      "name": "Sticky Note 1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2672,
        1312
      ]
    },
    {
      "parameters": {
        "content": "## 2. Smart Caching Router\n\nTo save API costs and time, this section checks an n8n Data Table:\n\n* **Check Cache:** Looks for an existing entry matching the keyword + location + language.\n* **Router (If Node):** \n    * **True:** Skips API calls and moves directly to data processing.\n    * **False:** Proceeds to fetch fresh data from DataForSEO.",
        "height": 260,
        "width": 350,
        "color": 3
      },
      "id": "b1bfe693-dbcb-4630-9326-547a2e9b73ec",
      "name": "Sticky Note 2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1776,
        1312
      ]
    },
    {
      "parameters": {
        "content": "## 3. Parallel Data Fetching\n\nThis zone executes 9 simultaneous API calls to DataForSEO to build a comprehensive dataset:\n\n1.  **Search Intent**\n2.  **Keyword Overview**\n3.  **Keyword Ideas**\n4.  **SERP Organic Results**\n5.  **AI Overviews (SGE)**\n6.  **Related Keywords**\n7.  **AI Keyword Data**\n8.  **YouTube Organic**\n9.  **Sub-Topic Generation**\n\nAll requests use Basic Auth.",
        "height": 1900,
        "width": 300,
        "color": 4
      },
      "id": "654e3c63-9a24-4a2c-8fa4-1407b01ab5d2",
      "name": "Sticky Note 3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1680,
        624
      ]
    },
    {
      "parameters": {
        "content": "## Error Handling Branch\n\nIf any API returns a status other than `20000` (DataForSEO success code):\n\n1.  **Update Sheet:** Marks the request as \"Error\" in the Google Sheet.\n2.  **Notify:** Sends an email detailing exactly which API failed and why.",
        "height": 240,
        "width": 350
      },
      "id": "017cdbb9-df70-446b-86cc-57888d213ad2",
      "name": "Sticky Note 4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -832,
        912
      ]
    },
    {
      "parameters": {
        "content": "## 5. Data Normalization & Storage\n\n* **Normalize Code:** Consolidates the 9 different JSON structures into a single, clean object.\n* **Update Cache:** Saves this clean object to the n8n Data Table so future requests for this keyword are instant.",
        "height": 200,
        "width": 350,
        "color": 5
      },
      "id": "cb491402-eee6-4795-a936-ebae0e5fc1ff",
      "name": "Sticky Note 5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -624,
        224
      ]
    },
    {
      "parameters": {
        "content": "## 7. Multi-Channel Distribution\n\n* **Google Drive:** Uploads the HTML report for internal use.\n* **Cloudflare R2 (S3):** Uploads the report for public sharing via a URL.\n* **Raw Data:** Creates a Google Sheet with the metrics.\n* **Finalize:** Updates the original Trigger Sheet with links and sends a success email.",
        "height": 300,
        "width": 400,
        "color": 7
      },
      "id": "07ffcc05-7bb5-436b-913a-44483bc2661f",
      "name": "Sticky Note 6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -176,
        112
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Campaign Start Trigger": {
      "main": [
        [
          {
            "node": "Fetch Global Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Global Settings": {
      "main": [
        [
          {
            "node": "Generate Session ID & Normalize Keyword",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Session ID & Normalize Keyword": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Check Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Cache": {
      "main": [
        [
          {
            "node": "Cache Hit or Miss?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cache Hit or Miss?": {
      "main": [
        [
          {
            "node": "Merge Cache & Live Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "API: Search Intent",
            "type": "main",
            "index": 0
          },
          {
            "node": "API: Keyword Overview",
            "type": "main",
            "index": 0
          },
          {
            "node": "API: Keyword Ideas",
            "type": "main",
            "index": 0
          },
          {
            "node": "API: SERP Organic",
            "type": "main",
            "index": 0
          },
          {
            "node": "API: AI Overviews",
            "type": "main",
            "index": 0
          },
          {
            "node": "API: Related Keywords",
            "type": "main",
            "index": 0
          },
          {
            "node": "API: AI Keyword Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "API: YouTube Organic",
            "type": "main",
            "index": 0
          },
          {
            "node": "API: Generate Sub Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Search Intent": {
      "main": [
        [
          {
            "node": "Check Search Intent Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Keyword Overview": {
      "main": [
        [
          {
            "node": "Check Keyword Overview Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Keyword Ideas": {
      "main": [
        [
          {
            "node": "Check Keyword Ideas Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: SERP Organic": {
      "main": [
        [
          {
            "node": "Check SERP Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: AI Overviews": {
      "main": [
        [
          {
            "node": "Check AI Overviews Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Related Keywords": {
      "main": [
        [
          {
            "node": "Check Related Keywords Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: AI Keyword Data": {
      "main": [
        [
          {
            "node": "Check AI Keyword Data Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: YouTube Organic": {
      "main": [
        [
          {
            "node": "Check YouTube Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Generate Sub Topics": {
      "main": [
        [
          {
            "node": "Check Sub Topics Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Search Intent Status": {
      "main": [
        [
          {
            "node": "Aggregate API Responses",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Sheet to Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Keyword Overview Status": {
      "main": [
        [
          {
            "node": "Aggregate API Responses",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Update Sheet to Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Keyword Ideas Status": {
      "main": [
        [
          {
            "node": "Aggregate API Responses",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "Update Sheet to Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check SERP Status": {
      "main": [
        [
          {
            "node": "Aggregate API Responses",
            "type": "main",
            "index": 3
          }
        ],
        [
          {
            "node": "Update Sheet to Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check AI Overviews Status": {
      "main": [
        [
          {
            "node": "Aggregate API Responses",
            "type": "main",
            "index": 4
          }
        ],
        [
          {
            "node": "Update Sheet to Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Related Keywords Status": {
      "main": [
        [
          {
            "node": "Aggregate API Responses",
            "type": "main",
            "index": 5
          }
        ],
        [
          {
            "node": "Update Sheet to Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check AI Keyword Data Status": {
      "main": [
        [
          {
            "node": "Aggregate API Responses",
            "type": "main",
            "index": 6
          }
        ],
        [
          {
            "node": "Update Sheet to Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check YouTube Status": {
      "main": [
        [
          {
            "node": "Aggregate API Responses",
            "type": "main",
            "index": 7
          }
        ],
        [
          {
            "node": "Update Sheet to Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Sub Topics Status": {
      "main": [
        [
          {
            "node": "Aggregate API Responses",
            "type": "main",
            "index": 8
          }
        ],
        [
          {
            "node": "Update Sheet to Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet to Error": {
      "main": [
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate API Responses": {
      "main": [
        [
          {
            "node": "Normalize & Deduplicate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize & Deduplicate Data": {
      "main": [
        [
          {
            "node": "Merge Cache & Live Data",
            "type": "main",
            "index": 1
          },
          {
            "node": "Update Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Cache & Live Data": {
      "main": [
        [
          {
            "node": "Generate HTML Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HTML Report": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload to S3 (Cloudflare R2)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Raw Data Spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Google Drive": {
      "main": [
        [
          {
            "node": "Update Campaign Sheet to Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Campaign Sheet to Completed": {
      "main": [
        [
          {
            "node": "Send Success Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7807d32c-8d6f-499d-b1a1-3c638278692e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aa0fe391a5f8d0d0d337b84dc8b3db15d3f4068cefd6bccf36eeebc1acc532f4"
  },
  "id": "5oMbL6RAtg3aJQgu",
  "tags": []
}