Updated Global Tax Research Assistant with RAG and Safety Guards.json
{
  "name": "Updated Global Tax Research Assistant with RAG and Safety Guards",
  "nodes": [
    {
      "parameters": {
        "content": "## Global Tax Research Assistant\n\n**⚠️ HIGH-RISK DOMAIN WARNING**\n\nThis workflow provides tax research assistance ONLY.\n- NOT professional tax advice\n- NOT personalized tax planning\n- NOT tax optimization guidance\n\n**Purpose:**\n- Help users understand tax concepts\n- Provide general information about tax rules worldwide\n- Distinguish between official sources and user documents\n\n**Safety:**\n- Strong refusal mechanism for uncertain/personalized queries\n- Mandatory disclaimer on all responses\n- Confidence threshold enforcement",
        "height": 416,
        "width": 480,
        "color": 5
      },
      "id": "77d4b3ed-2cb9-49c2-bbaf-2c7c47b8e2dc",
      "name": "Overview Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -224,
        32
      ]
    },
    {
      "parameters": {
        "content": "## Country Routing Logic\n\n**Why Country is Mandatory:**\nTax rules vary dramatically by jurisdiction. Without knowing the country, any advice would be meaningless or dangerous.\n\n**Flow:**\n1. Check if country_code exists in input\n2. If missing → Ask user explicitly\n3. Normalize to ISO-2 uppercase (US, GB, IN, etc.)\n4. Store for downstream routing\n\n**Used for:**\n- RAG vector search filtering\n- Research API query construction\n- Context building\n\nNote: If the country is collected in a separate step / UI, you can pass it directly on the first call.",
        "height": 488,
        "width": 360,
        "color": 3
      },
      "id": "fec951ae-f7b4-4c7e-a345-7b1825f7461f",
      "name": "Country Routing Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        224,
        1072
      ]
    },
    {
      "parameters": {
        "content": "## PDF Ingestion\n\n**User Documents vs Official Law:**\nCRITICAL distinction in responses!\n\n**Process:**\n1. Check if PDFs uploaded via chat trigger\n2. Extract text from PDFs\n3. Mark as \"user_document\" context\n4. Keep separate from official sources\n\n**Why:**\n- User PDFs may contain personal tax info\n- Must NOT be treated as authoritative law\n- Gemini must clearly label source in responses\n\n**If no PDFs:**\nSet user_pdf_context to empty string",
        "height": 428,
        "width": 360,
        "color": 4
      },
      "id": "748e3413-19f9-4381-a061-5a4996ea3792",
      "name": "PDF Ingestion Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        880,
        224
      ]
    },
    {
      "parameters": {
        "content": "## RAG vs Research Routing\n\n**RAG Path (Supported Countries):**\n- Countries: US, GB, IN (configurable)\n- Query vector DB with country filter\n- Return top 6 relevant tax law snippets\n- High-quality, curated content\n\n**Research Path (Other Countries):**\n- Fallback for unsupported jurisdictions\n- Call external search/legal API\n- Less reliable, needs stronger safety checks\n\n**Both paths:**\n- Build context string\n- Merge with user PDF context\n- Pass to Gemini for reasoning",
        "height": 396,
        "width": 380,
        "color": 6
      },
      "id": "cc933d21-5113-4445-a3b6-43558b7203eb",
      "name": "RAG vs Research Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1872,
        240
      ]
    },
    {
      "parameters": {
        "content": "## Safety Guard & Refusal\n\n**Gemini Output Schema:**\n``````\n\n**Refusal Triggers:**\n- allowed = false\n- confidence < 0.6\n- JSON parsing fails\n\n**Refusal Message:**\n\"Sorry for the inconvenience, but I'm not able to provide a definitive answer on this. Please consult a qualified tax professional in your jurisdiction.\"\n\n**Always Append:**\nDisclaimer that this is NOT professional tax advice\n\nOptional: Log safety_triggered cases for monitoring.",
        "height": 360,
        "width": 1424,
        "color": 2
      },
      "id": "00e83894-0769-4392-a5a8-ea3b10f443b5",
      "name": "Safety Guard Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2976,
        432
      ]
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is Buddy. How can I assist you today?",
        "options": {
          "allowFileUploads": true,
          "loadPreviousSession": "memory"
        }
      },
      "id": "6024f400-e6d6-4d9c-ab86-dba968a18314",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -240,
        704
      ],
      "webhookId": "91805b93-849f-4d27-8f68-72d2be087fb7"
    },
    {
      "parameters": {},
      "id": "e210dfc9-c880-4430-8f97-368ad8e07222",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -176,
        928
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "user_query",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "has_files",
              "value": "={{ Object.keys($binary || {}).length > 0 }}",
              "type": "boolean"
            },
            {
              "id": "id-3",
              "name": "country_code",
              "value": "={{ $json.country_code || '' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "01a27028-eed3-43ba-8898-174cbb0225e4",
      "name": "Extract Query & Files",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        704
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $('Extract Query & Files').item.json.country_code }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c5882a09-17e2-4905-93de-a9b329b6adc4",
      "name": "Country Known?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        336,
        704
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "response",
              "value": "For which country are we clearing taxes? Please provide the country name or code (e.g., US, GB, IN).",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "daaebe8b-7cc6-42b0-b3b1-037849614aac",
      "name": "Ask for Country",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        608
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "country_code",
              "value": "={{ $json.country_code.toUpperCase().trim().slice(0, 2) }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "9555918e-3a51-47d9-894d-b9de84ea29e8",
      "name": "Normalize Country Code",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        800
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $('Extract Query & Files').item.json.has_files }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9c473b55-c6fc-44f5-a9db-cdf48b390106",
      "name": "Any PDFs Uploaded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        784,
        800
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "={{ Object.keys($binary || {})[0] || '' }}",
        "options": {}
      },
      "id": "8633362f-851c-42ac-b860-29c733eb58d6",
      "name": "Extract From PDFs",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1008,
        704
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "user_pdf_context",
              "value": "={{ $json.text || '' }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "context_source",
              "value": "user_document",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "8ee569bf-b898-4947-81c3-3852f546e542",
      "name": "Set User PDF Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        704
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "user_pdf_context",
              "value": "",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "context_source",
              "value": "none",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "56f42ab2-a054-487d-b79b-36d0f71d08da",
      "name": "Set Empty PDF Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        896
      ]
    },
    {
      "parameters": {},
      "id": "932e44cc-e4d5-4b56-95c2-bc6cb29ba0ce",
      "name": "Merge PDF Branches",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1456,
        800
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "rag_supported",
              "value": "={{ ['US','GB','IN'].includes($json.country_code) }}",
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "d51ee283-844e-4c75-ba5e-9da3a4b183d5",
      "name": "Set RAG Supported Flag",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        656
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.rag_supported }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "89032fa1-90eb-4665-b691-1c6ff8725c6e",
      "name": "RAG Supported?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        816
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "<__PLACEHOLDER_VALUE__Vector_DB_points_search__>",
        "authentication": "predefinedCredentialType",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"collection_name\": \"global_tax\",\n  \"filter\": {\n    \"must\": [\n      {\n        \"key\": \"country\",\n        \"match\": {\n          \"value\": \"={{ $json.country_code }}\"\n        }\n      }\n    ]\n  },\n  \"query\": \"={{ $json.user_query }}\",\n  \"limit\": 6\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "ebfc5901-532a-458c-93a9-c1281074c1f7",
      "name": "Vector Search Global Tax",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1904,
        720
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "rag_context",
              "value": "={{ $json.result?.map(r => r.payload?.content || '').join('\\n---\\n') || '' }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "context_type",
              "value": "rag_official",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "50a27f34-deb2-4827-b735-a0968a6b47e1",
      "name": "Build RAG Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2128,
        720
      ]
    },
    {
      "parameters": {
        "url": "<__PLACEHOLDER_VALUE__Search_or_Legal_Research_API_endpoint__>",
        "authentication": "predefinedCredentialType",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.country_code + ' tax ' + $json.user_query }}"
            },
            {
              "name": "limit",
              "value": "5"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "f4a3c584-b99b-4433-a5f2-13399dce17e5",
      "name": "Web / Legal Research",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1904,
        912
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "research_context",
              "value": "={{ JSON.stringify($json.results || $json) }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "context_type",
              "value": "web_research",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "64a29643-53f5-4185-968f-298e81aae163",
      "name": "Build Research Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2128,
        912
      ]
    },
    {
      "parameters": {},
      "id": "87a446bf-58d0-4378-9a12-b5a77ff79cd8",
      "name": "Merge All Context",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2352,
        816
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "full_context",
              "value": "={{ `Country: ${$json.country_code}\\n\\nOfficial Sources:\\n${$json.rag_context || $json.research_context || 'None'}\\n\\nUser Document:\\n${$json.user_pdf_context || 'None'}` }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "b2bae0d4-c308-433f-ad65-a6354a9c415b",
      "name": "Prepare Gemini Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2576,
        816
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "<__PLACEHOLDER_VALUE__Google_Gemini_API_endpoint__>",
        "authentication": "predefinedCredentialType",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"contents\": [{\"role\": \"user\", \"parts\": [{\"text\": \"System: You are a cautious global tax research assistant, not a tax advisor or accountant. Your job is to summarize relevant public tax rules for the given country and topic using only the context provided. Clearly distinguish between: (1) 'According to official sources in the context…' and (2) 'According to your uploaded document…'. Never give personalized tax planning, optimization, avoidance, or filing decisions. Never tell the user what they 'should' do; instead, describe general rules and options.\n\nYou MUST output valid JSON only, with this exact shape: { \\\"answer\\\": \\\"...\\\", \\\"confidence\\\": 0.0-1.0, \\\"allowed\\\": true/false }.\n\nRules:\n- If context is weak, conflicting, outdated, or the question demands personalized advice, set allowed = false.\n- If you are reasonably confident in giving a general, non-personal explanation, set allowed = true.\n- Always include wording inside answer that this is not professional tax advice and that a qualified tax professional must be consulted in the user’s jurisdiction.\n\nUser Query: \" + $json.user_query + \"\\n\\nContext:\\n\" + $json.full_context}]}], \"generationConfig\": {\"response_mime_type\": \"application/json\"}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "b74697b9-025d-41af-a001-3eb092e531d1",
      "name": "Gemini Tax Reasoner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2800,
        816
      ]
    },
    {
      "parameters": {
        "jsCode": "const refusalMessage = \"Sorry for the inconvenience, but I'm not able to provide a definitive answer on this. Please consult a qualified tax professional in your jurisdiction.\";\nconst disclaimer = \"\\n\\n---\\n\\n**Disclaimer:** This response is for informational purposes only and is NOT professional tax advice. Always consult a qualified tax professional in your jurisdiction.\";\n\nlet geminiResponse;\ntry {\n  const rawResponse = $input.first().json;\n  const responseText = rawResponse.candidates?.[0]?.content?.parts?.[0]?.text || JSON.stringify(rawResponse);\n  geminiResponse = JSON.parse(responseText);\n} catch (error) {\n  return [{\n    json: {\n      final_answer: refusalMessage + disclaimer,\n      safety_triggered: true,\n      reason: 'json_parse_error'\n    }\n  }];\n}\n\nif (!geminiResponse.allowed || geminiResponse.confidence < 0.6) {\n  return [{\n    json: {\n      final_answer: refusalMessage + disclaimer,\n      safety_triggered: true,\n      reason: geminiResponse.allowed === false ? 'not_allowed' : 'low_confidence',\n      confidence: geminiResponse.confidence\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    final_answer: geminiResponse.answer + disclaimer,\n    safety_triggered: false,\n    confidence: geminiResponse.confidence\n  }\n}];"
      },
      "id": "6b4ca4d2-4592-4ad1-a46f-2f5d14cc63fb",
      "name": "Apply Safety Guard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3024,
        816
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.final_answer }}",
        "options": {
          "systemMessage": "You are a passthrough response agent. The field `final_answer` already contains the complete, safe message with all required disclaimers. Return `final_answer` exactly as provided, without adding, removing, or changing any text."
        }
      },
      "id": "5edad581-a43d-4be9-a0f2-43d38aaab900",
      "name": "Return Final Answer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        3248,
        816
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "efb117bb-5193-448b-beee-3869375f541c",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3264,
        1072
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "UlIRUkJFc0cVP7QN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Extract Query & Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Chat Trigger",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Extract Query & Files": {
      "main": [
        [
          {
            "node": "Country Known?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Country Known?": {
      "main": [
        [
          {
            "node": "Normalize Country Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ask for Country",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Country Code": {
      "main": [
        [
          {
            "node": "Any PDFs Uploaded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any PDFs Uploaded?": {
      "main": [
        [
          {
            "node": "Extract From PDFs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Empty PDF Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract From PDFs": {
      "main": [
        [
          {
            "node": "Set User PDF Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set User PDF Context": {
      "main": [
        [
          {
            "node": "Merge PDF Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Empty PDF Context": {
      "main": [
        [
          {
            "node": "Merge PDF Branches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge PDF Branches": {
      "main": [
        [
          {
            "node": "Set RAG Supported Flag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set RAG Supported Flag": {
      "main": [
        [
          {
            "node": "RAG Supported?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG Supported?": {
      "main": [
        [
          {
            "node": "Vector Search Global Tax",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Web / Legal Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector Search Global Tax": {
      "main": [
        [
          {
            "node": "Build RAG Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build RAG Context": {
      "main": [
        [
          {
            "node": "Merge All Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Web / Legal Research": {
      "main": [
        [
          {
            "node": "Build Research Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Research Context": {
      "main": [
        [
          {
            "node": "Merge All Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge All Context": {
      "main": [
        [
          {
            "node": "Prepare Gemini Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Gemini Input": {
      "main": [
        [
          {
            "node": "Gemini Tax Reasoner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Tax Reasoner": {
      "main": [
        [
          {
            "node": "Apply Safety Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Safety Guard": {
      "main": [
        [
          {
            "node": "Return Final Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Return Final Answer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0139cda8-9c28-4b7c-808b-ee9828900a5d",
  "meta": {
    "instanceId": "192cb3f736e87d9c71b7323ba9860cbe35ba9c18dc08a37c3d539f4c38367692"
  },
  "id": "yTbaCStxysA9c0vD",
  "tags": []
}